html {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  font-size: 14px;
  color: #626262;
  line-height: 24px;
}

button {
  cursor: pointer;
}

p,
h2 {
  margin: 0;
}

span {
  display: block;
}

img {
  display: block;
  margin-bottom: 34px;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-menu {
  margin-top: 40px;
  padding-bottom: 74px;
}

.site-nav {
  font-size: 0;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

.menu-item {
  display: inline-block;
  margin: 0;
  font-size: 14px;
}

.menu-item:not(:last-child) {
  margin-right: 35px;
}

.menu-item-link {
  color: #626262;
  display: block;
  padding: 24px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  line-height: 18px;
  padding: 20px;
}

.site-nav a:hover,
button:hover,
.site-nav a:focus {
  color: #03a9f4;
}

.website-content {
  padding-bottom: 56px;
}

.post-subject {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.post-list-item {
  display: inline-block;
  width: 420px;
  margin-bottom: 77px;
}

.post-list-item:nth-child(odd) {
  margin-right: 60px;
}

post-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.post-title {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 28px;
}

.post-heading {
  font-size: 30px;
  font-weight: lighter;
  line-height: 36px;
  margin-bottom: 36px;
}

.post-info {
  font-size: 14px;
  line-height: 24px;
}

.load-more-button {
  width: 168px;
  border-color: #626262;
  font-size: 18px;
  line-height: 15px;
  padding: 24px;
  text-align: center;
  display: block;
  margin: auto;
}
