.sections-subtitle {
  font-size: 30px;
  margin-top: 20px;
  font-family: $secondary-font;
  color: $secondary-color;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.sections-subtitle:after {
  display: block;
  content: "";
  @include box(58px, 3px);
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 62px;
}
