.header {
  background-image: linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url("../images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 210px;
  margin-bottom: 52px;
  &__title {
    font-size: 72px;
    font-family: $header-font;
    color: $header-color;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 35px 0;
  }
  &__description {
    font-size: 150px;
    font-weight: 700;
    font-family: $secondary-font;
    color: $header-color;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
    width: 820px;
    margin: 0 auto 90px auto;
  }
}

@media (min-resolution: 192dpi) {
  .header {
    background-image: linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url("../images/img1@2x.jpg");
  }
}

.navigation {
  @extend %dflex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 180px;
  .logotype {
    font-size: 30px;
    font-family: $secondary-font;
    color: $header-color;
    font-weight: bold;
  }
  &__list {
    display: flex;
    &-icon {
      @include box(18px,15px);
      fill: $header-color;
      cursor: pointer;
      &:hover {
        fill: rgb(252, 227, 138);
      }
    }
    &-link {
      display: block;
      text-transform: uppercase;
      color: $header-color;
      font-size: 14px;
      font-family: $secondary-font;
      text-align: center;
      &:hover:after {
        width: 100%;
        background: rgb(252, 227, 138);
        transition: linear 200ms linear;
      }
      &:hover {
        color: rgb(252, 227, 138);
      }
      &:after {
        content: "";
        display: block;
        margin: auto;
        height: 3px;
        transition: linear 200ms;
        transition-timing-function: (0.17, 0.67, 0.83, 0.67);
        margin-top: 7px;
      }
    }
    &-item:not(:last-child) {
      margin-right: 59px;
    }
  }
}

.logotype {
  &:hover:after {
    width: 100%;
    background: rgb(252, 227, 138);
    transition: linear 200ms linear;
  }
  &::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    transition: linear 200ms;
    transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  }
}

.modal-btn {
  border-style: solid;
  border-width: 3px;
  border-color: $header-color;
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: $header-color;
  font-family: $secondary-font;
  cursor: pointer;
}
