/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/montserrat-v14-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/kaushan-script-v8-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/kaushan-script-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript")
      format("svg"); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v20-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-300italic.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-300italic.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-300italic.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v20-latin-300italic.svg#Roboto") format("svg"); /* Legacy iOS */
}

:root {
  --main-font: "Roboto";
  --secondary-font: "Montserrat";
  --header-font: "Kaushan Script";
  --main-color: rgb(149, 225, 211);
  --secondary-color: rgb(51, 51, 51);
  --header-color: rgb(255, 255, 255);
  --gradient-main-color: (
    90deg,
    rgb(252, 227, 138, 0.9) 0%,
    rgb(243, 129, 129, 0.9) 100%
  );
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

h2,
h3 {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgb(252, 227, 138, 0.9)),
      to(rgb(243, 129, 129, 0.9))
    ),
    url("../img/img1.jpg");
  background-image: -o-linear-gradient(
      left,
      rgb(252, 227, 138, 0.9) 0%,
      rgb(243, 129, 129, 0.9) 100%
    ),
    url("../img/img1.jpg");
  background-image: linear-gradient(
      90deg,
      rgb(252, 227, 138, 0.9) 0%,
      rgb(243, 129, 129, 0.9) 100%
    ),
    url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 210px;
  margin-bottom: 52px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgb(252, 227, 138, 0.9)),
        to(rgb(243, 129, 129, 0.9))
      ),
      url("../img/img1@2x.jpg");
    background-image: -o-linear-gradient(
        left,
        rgb(252, 227, 138, 0.9) 0%,
        rgb(243, 129, 129, 0.9) 100%
      ),
      url("../img/img1@2x.jpg");
    background-image: linear-gradient(
        90deg,
        rgb(252, 227, 138, 0.9) 0%,
        rgb(243, 129, 129, 0.9) 100%
      ),
      url("../img/img1@2x.jpg");
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 180px;
}

.logotype {
  font-size: 30px;
  font-family: var(--secondary-font);
  color: var(--header-color);
  font-weight: bold;
  line-height: 1.2;
}

.logotype::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  -webkit-transition: linear 200ms;
  -o-transition: linear 200ms;
  transition: linear 200ms;
  -webkit-transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  -o-transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  transition-timing-function: (0.17, 0.67, 0.83, 0.67);
}

.logotype:hover:after {
  width: 100%;
  background: rgb(252, 227, 138);
  -webkit-transition: linear 200ms linear;
  -o-transition: linear 200ms linear;
  transition: linear 200ms linear;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list-item:not(:last-child) {
  margin-right: 59px;
}

.navigation__list-link {
  display: block;
  text-transform: uppercase;
  color: var(--header-color);
  font-size: 14px;
  font-family: var(--secondary-font);
  text-align: center;
}

.navigation__list-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  -webkit-transition: linear 200ms;
  -o-transition: linear 200ms;
  transition: linear 200ms;
  -webkit-transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  -o-transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  transition-timing-function: (0.17, 0.67, 0.83, 0.67);
  margin-top: 7px;
}

.navigation__list-link:hover:after {
  width: 100%;
  background: rgb(252, 227, 138);
  -webkit-transition: linear 200ms linear;
  -o-transition: linear 200ms linear;
  transition: linear 200ms linear;
}

.navigation__list-link:hover {
  color: rgb(252, 227, 138);
}

.navigation__list-icon {
  width: 18px;
  height: 15px;
  fill: var(--header-color);
  cursor: pointer;
}

.navigation__list-icon:hover {
  fill: rgb(252, 227, 138);
}

.header__title {
  font-size: 72px;
  font-family: var(--header-font);
  color: var(--header-color);
  line-height: 1.2;
  text-align: center;
  margin: 0 0 35px 0;
}

.header__description {
  font-size: 150px;
  font-weight: 700;
  font-family: var(--secondary-font);
  color: var(--header-color);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  text-align: center;
  width: 820px;
  margin: 0 auto 90px auto;
}

.modal-btn {
  border-style: solid;
  border-width: 3px;
  border-color: var(--header-color);
  background-color: rgba(0, 0, 0, 0);
  width: 164px;
  line-height: 44px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  color: var(--header-color);
  font-family: var(--secondary-font);
  cursor: pointer;
}

.sections-title {
  font-size: 24px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  font-family: var(--header-font);
}

.sections-subtitle {
  font-size: 30px;
  margin-top: 20px;
  font-family: var(--secondary-font);
  color: rgb(51, 51, 51);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  display: block;
}

.sections-subtitle:after {
  display: block;
  content: "";
  width: 58px;
  height: 3px;
  background-color: rgb(243, 129, 129);
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 66px;
}

.services__list-item__description,
.about__text {
  font-size: 15px;
  font-weight: 400;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  margin: 0;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__list-item {
  width: 380px;
  margin-bottom: 100px;
  position: relative;
  display: inline-block;
}
.services__list-item__title {
  font-size: 14px;
  font-family: var(--secondary-font);
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
}

.services__list-item__info-wrapper {
  width: 300px;
  margin-left: 80px;
}

.services__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__list-item:first-child::before {
  background-image: url("../icons/ALARM.svg");
}

.services__list-item:nth-child(2)::before {
  background-image: url("../icons/LINEGRAPH.svg");
}

.services__list-item:nth-child(3)::before {
  background-image: url("../icons/COMPUTER.svg");
}

.services__list-item:nth-child(4)::before {
  background-image: url("../icons/BOOK.svg");
}

.services__list-item:nth-child(5)::before {
  background-image: url("../icons/HOME.svg");
}

.services__list-item:nth-child(6)::before {
  background-image: url("../icons/IMAGE.svg");
}

.about__text {
  text-align: center;
  margin-bottom: 96px;
}

.about__list-wrapper {
  position: relative;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.about__list-item {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  position: relative;
}

.about__list-item:hover .about__list-item-img-wrapper {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-box-shadow: 10px 10px 0 2px rgb(149, 225, 211);
  box-shadow: 10px 10px 0 2px rgb(149, 225, 211);
}

.about__list-item:not(:last-child) {
  margin-right: 32px;
}

.about__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.about__list-item-img-wrapper {
  position: relative;
  margin-bottom: 14px;
}

.about__list-item-name {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 28px;
}

.about__list-item-position {
  display: block;
  font-size: 15px;
  font-family: "Roboto";
  font-style: italic;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 88px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(252, 227, 138, 0.9)),
    to(rgb(243, 129, 129, 0.9))
  );
  background-image: -o-linear-gradient(
    left,
    rgb(252, 227, 138, 0.9) 0%,
    rgb(243, 129, 129, 0.9) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgb(252, 227, 138, 0.9) 0%,
    rgb(243, 129, 129, 0.9) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.overlay__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay__list-link {
  display: block;
  width: 58px;
  height: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(252, 227, 138);
  padding: 12px;
}

.overlay__list-item:not(:last-child) {
  border-right: 1.5px solid rgb(243, 129, 129);
}

.overlay__list-icon {
  fill: rgb(243, 129, 129);
  width: 27px;
  height: 27px;
}

.overlay__list-link:hover {
  background-color: rgb(243, 129, 129);
  -webkit-transition: linear 200ms;
  -o-transition: linear 200ms;
  transition: linear 200ms;
}

.overlay__list-link:hover .overlay__list-icon {
  fill: var(--header-color);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 12px;
}

.copyright span {
  display: block;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 1.2;
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::-moz-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input:-ms-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::-ms-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__btn:hover {
  background-color: rgb(243, 129, 129);
}

.footer__link {
  color: rgb(243, 129, 129);
  display: inline;
}

.subscribe-form__input {
  font-family: var(--secondary-font);
  font-style: italic;
  line-height: 1.2;
  font-weight: 300;
  width: 230px;
  -webkit-transition: linear 200ms;
  -o-transition: linear 200ms;
  transition: linear 200ms;
  border: 1px solid rgb(231, 231, 231);
  padding-left: 10px;
}

.subscribe-form__btn {
  background-color: var(--main-color);
  width: 150px;
  line-height: 1.2;
  font-size: 14px;
  font-family: var(--secondary-font);
  font-weight: 700;
  border: none;
  -webkit-transition: linear 200ms;
  -o-transition: linear 200ms;
  transition: linear 200ms;
  text-transform: uppercase;
  color: #fff;
}

.footer::before {
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: rgb(229, 229, 229);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
